# Gradle 관련
.build/
.gradle/
# build/ 디렉토리를 포함시키지 않으려면 주석 처리하거나 제거하세요.
# build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA 관련
.idea/
*.iml
*.iws
.idea_modules/
*.ipr

# 로그 파일
*.log

# 운영체제 관련
.DS_Store
Thumbs.db

# 환경 변수 파일
.env*

# Spring Boot 관련
/hs_err_pid*
/*.hprof
*.swp
.swp

# 빌드 디렉토리
# /out/ 디렉토리도 무시합니다. 필요에 따라 설정을 조정하세요.
# /out/

# 임시 파일
*.tmp
*.bak
*.swp
*.swo

# src/main/resources 폴더의 모든 내용 포함
!/src/main/resources/
